{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="logo-banner">
    <img src="{% static 'images/ripple-volunteer-logo.png' %}" alt="ripple's logo with concentric hearts as ripples" />
  </section>

  <section class="intro">
    <h2>Small acts of kindness in motion, big impact for our community and the world</h2>
    <h3>A volunteering community hub where you can find volunteering opportunities near you, add your own, and manage your saves.</h3>
  </section>

  {% if not user.is_authenticated %}
    <section class="auth-options">
      <h2>Welcome to ripple!</h2>
      <p>Log in to explore opportunities or sign up to join the community.</p>
      <div class="auth-buttons">
        <a href="{% url 'login' %}" class="btn">Login</a>
        <a href="{% url 'signup' %}" class="btn">Sign Up</a>
      </div>
    </section>
  {% else %}
    <section class="welcome-back">
      <h2>Welcome back, {{ user.username }}!</h2>
      <a href="{% url 'user-opps-index' %}" class="btn">Go to My Opportunities</a>
    </section>
  {% endif %}

  <section class="opportunity-container">
    {% for opportunity in opportunities %}
      {% include 'opportunities/_opportunity_card.html' %}
    
    
    {% empty %}
      <p>No opportunities available yet. Be the first to <a href="{% url 'opp-create' %}">add one</a>!</p>
    {% endfor %}
  </section>
{% endblock %}