{% extends 'base.html' %}
{% block content %}
  <h1>All Opportunities</h1>

  {% if opportunities %}
    <ul>
      {% for opportunity in opportunities %}
        <li>
          <a href="{% url 'opportunity-detail' opportunity.pk %}">{{ opportunity.title }}</a>
          — {{ opportunity.location }} on {{ opportunity.date }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No opportunities yet. Be the first to <a href="{% url 'opp-create' %}">create one</a>!</p>
  {% endif %}
{% endblock %}