{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>Volunteer Hub</title>
    {% block head %} 
    {% endblock %}
    </head>
  <body>
    <header>
      
      <nav>
        <ul>
          {% if user.is_authenticated %}
         <li><a href="{% url 'opps-index' %}">All Opportunities</a></li>
         <li><a href="{% url 'opp-create' %}">Add a new Opportunity</a></li>
         <li><a href="{% url 'likes-index' %}">Liked Opportunities</a></li>
         <li><a href="{% url 'bookmarks-index' %}">Saved Opportunities</a></li>
         <li>
          <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Log out</button>
          </form>
        </li>
         {% endif %}
         <li><a href="{% url 'about' %}">About</a></li>
        </ul>
      </nav>
    </header>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
  </body>
</html>